.content,.navbar {
  font-family: Arial,sans-serif
}

.footer-links a,a {
  color: #000
}

.footer-links a,.navbar-links li a,a {
  text-decoration: none
}

*,.lograras-bottom,.navbar,.suena-a-ti-bottom {
  box-sizing: border-box
}

.lograras,.que-buscamos,.que-ofrecemos,.quiero,.suena-a-ti {
  scroll-margin-top: 10vh
}

.navbar,.steps {
  margin-bottom: 0
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004a41;
  padding: 10px 20px;
  height: 10vh;
  border-bottom: 3px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px
}

.navbar-links li a {
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color .3s
}

.navbar-links li a.active,.navbar-links li a:hover {
  background-color: #b2dfdb;
  color: #00796b
}

.navbar-links li a.active-link {
  background-color: #fffeed;
  color: #00796b;
  box-shadow: 0 0 10px rgba(255,251,0,.288)
}

.navbar-buttons {
  max-width: 20rem;
  height: auto
}

.navbar-buttons button {
  margin: 0 .2rem
}

.content {
  overflow-y: scroll;
  height: 100vh;
  text-align: center;
  overflow-x: hidden
}

.icons,.landing {
  display: flex;
  justify-content: center
}

.landing {
  height: 100vh;
  background-color: #f8e4b2;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem
}

.landing h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px
}

.landing p {
  font-size: 1.5rem;
  margin-bottom: 50px;
  line-height: 1.5
}

.icons {
  gap: 3rem
}

.icon img {
  width: 5rem;
  height: 8rem
}

.footer {
  height: 10vh;
  background-color: #aedf9fc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 16px
}

.footer-links a {
  margin: 0 10px
}

.navbar-logo .logo-image {
  margin-right: .5rem;
  vertical-align: middle;
  width: 40px;
  height: auto
}

a {
  cursor: pointer
}

button {
  background-color: #84ff79;
  border-color: #000
}

.iniciar {
  background-color: transparent;
  text-decoration: underline;
  color: #fffeed;
  border: 0
}

.que-buscamos-bottom,.que-buscamos-top {
  color: #4a4a4a;
  margin: 0;
  text-align: center
}

.que-buscamos {
  height: 90vh;
  display: flex;
  flex-direction: column
}

.que-buscamos-top {
  background-color: #4fc3a1;
  padding: 0 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  flex-grow: 1;
  height: 30%
}

.que-buscamos-bottom {
  background-color: #f8ffb9;
  padding: 0 10rem;
  font-size: 1.5rem;
  line-height: 2;
  flex-grow: 1
}

.que-buscamos-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  max-height: 40%
}

.que-buscamos-icon {
  width: 10%;
  height: auto
}

.que-buscamos-text {
  font-weight: 700;
  font-size: 1.2rem;
  color: #333
}

.que-buscamos-button {
  background-color: #206e57;
  color: #fff;
  padding: .7rem 1.2rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s
}

.que-buscamos-button:hover {
  background-color: #229877
}

.que-ofrecemos {
  display: flex;
  background-color: #f8e4b2;
  padding: 0;
  align-items: center;
  height: 90vh
}

.que-ofrecemos-left {
  text-align: center;
  color: #4a4a4a;
  width: 40%;
  background-color: #f7ca5b;
  height: 100%;
  align-content: center;
  line-height: 2;
  font-weight: 700;
  font-size: 2rem;
  padding: 0 5rem
}

.que-ofrecemos-right {
  text-align: center;
  width: 60%;
  background-color: #ffde89;
  height: 100%;
  align-content: left;
  line-height: 1;
  font-weight: 500;
  padding: 5rem 10rem
}

.que-ofrecemos-right h2 {
  font-size: 2rem;
  color: #4a4a4a;
  margin-bottom: 2rem
}

.benefits-list li {
  text-align: left
}

.benefits-list li img {
  width: 24px;
  height: auto;
  margin-right: .5rem
}

.visit-button {
  margin-top: 1rem
}

.benefits-list li,.suena-a-ti {
  display: flex;
  align-items: center
}

.suena-a-ti {
  background-color: #f8e4b2;
  padding: 3rem 0 0;
  flex-direction: column;
  height: 90vh;
  margin: 0
}

.lograras-top,.suena-a-ti-top {
  width: 100%;
  text-align: left;
  padding: 0 2rem;
  height: 70%
}

.lograras-bottom,.lograras-top h2,.quiero,.step,.suena-a-ti-bottom {
  text-align: center
}

.lograras-top h2,.suena-a-ti-top h2 {
  font-size: 2rem;
  color: #181818;
  font-weight: 700
}

.suena-a-ti-top h2 {
  text-align: center;
  margin-bottom: 3rem
}

.issues-list {
  list-style: none;
  padding: 0 0 0 15rem;
  margin: 0
}

.benefits-list li,.issues-list li {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
  line-height: 2
}

.benefits-list li strong,.issues-list li strong {
  color: #333
}

.suena-a-ti-bottom {
  width: 100%;
  background-color: #f8d792;
  padding: 1.5rem;
  height: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center
}

.lograras-bottom p,.suena-a-ti-bottom p {
  font-size: 3rem;
  font-weight: 700;
  color: #222
}

.lograras {
  background-color: #f8e4b2;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin: 0
}

.lograras-top h2 {
  margin-bottom: 2rem
}

.benefits-list {
  list-style: none;
  padding: 0 0 0 1rem;
  margin: 0
}

.lograras-bottom {
  width: 100%;
  background-color: #f8d792;
  padding: 1.5rem;
  height: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0
}

.lograras-bottom p {
  font-size: 1.5rem;
  margin-right: 1rem
}

.action-button,.visit-button {
  background-color: #206e57;
  color: #fff;
  padding: .7rem 1.5rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s
}

.benefit,.quiero h2,.step p {
  color: #4a4a4a
}

.action-button:hover,.visit-button:hover {
  background-color: #3b9f82
}

.quiero {
  padding: 2rem;
  font-weight: 1000;
  height: 90vh;
  background-color: #ffe367
}

.quiero h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem
}

.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
  padding: 0
}

.step {
  flex: 1
}

.icon {
  width: 10vw;
  height: auto;
  margin-bottom: .5rem
}

.step p {
  font-size: 1rem;
  font-weight: 700
}

.benefits-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem
}

.benefit {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .9rem
}

.benefit img {
  width: 30px;
  height: auto;
  margin-bottom: .3rem
}