<div class="content">
  <nav class="navbar">
    <div class="navbar-logo">
      <a routerLink="/register"
        ><img src="../../../assets/icon.png" alt="Logo" class="logo-image"
      /></a>
    </div>
    <ul class="navbar-links">
      <li><a (click)="scrollTo('landing')">AhorrApp</a></li>
      <li><a (click)="scrollTo('que-buscamos')">Qué buscamos</a></li>
      <li><a (click)="scrollTo('que-ofrecemos')">Qué ofrecemos</a></li>
      <li><a (click)="scrollTo('suena-a-ti')">¿Suena a ti?</a></li>
      <li><a (click)="scrollTo('lograras')">Lo que lograrás</a></li>
      <li><a (click)="scrollTo('quiero')">¡Lo quiero!</a></li>
    </ul>
    <div class="navbar-buttons">
      <a
        href="https://ahorrapp.netlify.app"
        target="_blank"
        rel="noopener noreferrer"
        ><button class="iniciar">Iniciar sesión</button></a
      >
      <a
        href="https://ahorrapp.netlify.app"
        target="_blank"
        rel="noopener noreferrer"
        ><button class="registrar">Registrarme</button></a
      >
    </div>
  </nav>

  <div class="landing" id="landing">
    <h1>¡TOMA EL CONTROL DE TU FUTURO FINANCIERO HOY!</h1>
    <p>
      Gestiona tus ingresos, controla tus gastos y planifica un mañana seguro<br />Diseñado
      especialmente para estudiantes
    </p>
    <div class="icons">
      <div class="icon">
        <img src="../../../assets/graduation.png" alt="Graduation Cap Icon" />
      </div>
      <div class="icon">
        <img src="../../../assets/money.png" alt="Dollar Icon" />
      </div>
      <div class="icon">
        <img src="../../../assets/phone.png" alt="Phone Icon" />
      </div>
    </div>
  </div>

  <div class="que-buscamos" id="que-buscamos">
    <div class="que-buscamos-top">
      <p>
        Entendemos el estrés de tratar de equilibrar gastos, ingresos y ahorrar
        para el futuro. Sabemos que, entre clases, trabajo y vida personal lo
        último que quieres es preocuparte por tus finanzas.
      </p>
    </div>
    <div class="que-buscamos-bottom">
      <p>
        Por eso hemos creado una página diseñada específicamente para
        estudiantes. Nuestra misión es hacer que el manejo de tu dinero sea
        simple y accesible, sin complicaciones.
      </p>
      <div class="que-buscamos-content">
        <img
          src="../../../assets/icon.png"
          alt="Ahorro Icon"
          class="que-buscamos-icon"
        />
        <span class="que-buscamos-text">AHORRAPP</span>
        <a
          href="https://ahorrapp.netlify.app"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="que-buscamos-button">REGÍSTRATE Y COMIENZA</button>
        </a>
      </div>
    </div>
  </div>

  <div class="que-ofrecemos" id="que-ofrecemos">
    <div class="que-ofrecemos-left">
      <p>
        La vida universitaria es emocionante, pero manejar tus ingresos puede
        ser un desafío
      </p>
    </div>
    <div class="que-ofrecemos-right">
      <h2>Con Nosotros Puedes:</h2>
      <ul class="benefits-list">
        <li>
          <img
            src="../../../assets/organize.png"
            alt="Icono Organizar"
          />Organizar y visualizar tus ingresos y gastos de manera clara
        </li>
        <li>
          <img
            src="../../../assets/budget.png"
            alt="Icono Presupuesto"
          />Establecer un presupuesto que se ajuste a tu vida
        </li>
        <li>
          <img src="../../../assets/saving.png" alt="Icono Ahorro" />Planear y
          ahorrar fácilmente para cumplir tus metas
        </li>
        <li>
          <img src="../../../assets/charts.png" alt="Icono Estadísticas" />Ver
          estadísticas y gráficas de tus gastos e ingresos
        </li>
      </ul>
      <!--button class="visit-button" routerLink="/register">REGISTRATE Y COMIENZA</button-->
    </div>
  </div>

  <div class="suena-a-ti" id="suena-a-ti">
    <div class="suena-a-ti-top">
      <h2>SE ACABARON LOS DIAS DE</h2>
      <ul class="issues-list">
        <li>
          <strong>Descontrol Financiero:</strong> Sin un plan, es fácil perder
          de vista tus ingresos y gastos
        </li>
        <li>
          <strong>Gastos imprevistos sin Preparación:</strong> Te arriesgas a no
          estar listo para emergencias financieras
        </li>
        <li>
          <strong>Falta de Ahorros:</strong> Sin una estrategia, alcanzar metas
          importantes será más difícil
        </li>
        <li>
          <strong>Estrés constante:</strong> La preocupación por el dinero puede
          afectar tu enfoque y bienestar
        </li>
      </ul>
    </div>
    <div class="suena-a-ti-bottom">
      <p>No dejes que el caos financiero te controle</p>
      <!--button class="action-button">EMPIEZA A CONTROLAR TU DINERO AHORA</button-->
    </div>
  </div>

  <div class="lograras" id="lograras">
    <div class="lograras-top">
      <h2>ES HORA DE</h2>
      <ul class="benefits-list">
        <li>
          <strong>Controlar tus Finanzas: </strong> Tendrás una visión clara de
          tus ingresos y gastos, eliminando el estrés por el dinero
        </li>
        <li>
          <strong>Ahorrar más: </strong> Lograrás ahorrar para tus metas
          personales, como viajes, proyectos o incluso estudios futuros, sin
          esfuerzo
        </li>
        <li>
          <strong>Cumplidas tus Metas: </strong> Alcanzarás tus objetivos
          financieros, ya sean a corto o largo plazo, con un plan sólido y bien
          organizado
        </li>
        <li>
          <strong>Tener tranquilidad Financiera: </strong> Vivirás sin
          preocupaciones económicas, sabiendo que tienes un plan que te respalda
          para cualquier imprevisto
        </li>
      </ul>
    </div>
    <div class="lograras-bottom">
      <p>ESTÁS A UN CLICK DE SER EL DUEÑO DE TUS FINANZAS</p>
      <a href="https://ahorrapp.netlify.app" target="_blank" rel="noopener noreferrer"><button class="action-button">AQUÍ</button></a>
    </div>
  </div>

  <div class="quiero" id="quiero">
    <h2>COMO FUNCIONA</h2>
    <div class="steps">
      <div class="step">
        <img src="../../../assets/entra.png" alt="Icono Entra" class="icon" />
        <p><strong>1. ENTRA</strong></p>
      </div>
      <div class="step">
        <img
          src="../../../assets/signup.png"
          alt="Icono Regístrate"
          class="icon"
        />
        <p><strong>2. REGÍSTRATE</strong></p>
      </div>
      <div class="step">
        <!--img src="path_to_icon3.png" alt="Icono Beneficios" class="icon"-->
        <div class="benefits-icons">
          <div class="benefit">
            <img
              src="../../../assets/step-fijo.png"
              alt="Gastos Fijos Icono"
            /><span>Gastos Fijos</span>
          </div>
          <div class="benefit">
            <img
              src="../../../assets/step-ocasional.png"
              alt="Gastos Ocasionales Icono"
            /><span>Gastos Ocasionales</span>
          </div>
          <div class="benefit">
            <img
              src="../../../assets/step-gastos.png"
              alt="Todos tus Gastos Icono"
            /><span>Todos tus Gastos</span>
          </div>
          <div class="benefit">
            <img
              src="../../../assets/step-stats.png"
              alt="Gráficos y Estadísticas Icono"
            /><span>Gráficos y Estadísticas</span>
          </div>
        </div>
        <p><strong>3. ACCEDE A TODOS LOS BENEFICIOS</strong></p>
      </div>
    </div>
    <a href="https://ahorrapp.netlify.app" target="_blank" rel="noopener noreferrer"><button class="visit-button">ENTRAR</button></a>
  </div>

  <div class="footer" id="footer">
    <div class="navbar-logo">
      <a routerLink="/register"
        ><img src="../../../assets/icon.png" alt="Logo" class="logo-image"
      /></a>
      <span><a routerLink="/register">AHORRAPP</a></span>
    </div>
    <div class="footer-links">
      <a (click)="contactInfo()">Contactanos</a>
    </div>
  </div>
</div>
